
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Menu Company*/

.menu__company {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Menu Nav*/

.menu__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}