
.section {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.section__header {
    display: grid;
    text-align: center;
}

.section__cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    gap: .5rem;
}